* {
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(179deg, #3e3a3a, #0f0f04); */
}
section{
    padding: 20px;
}
/* change translator section */
ul.parent_element {
    display: flex;
    gap: 20px;
    list-style: none;
}
ul.parent_element > li {
    border: 1px solid black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
ul.parent_element > li > a {
    text-decoration: none;
    color: white;
}
/* main translator section  */
section.sec02  {
    /* display: flex;
    justify-content: center; */
    padding: 20px ;
}

/* .list_item {
    padding: 20px;
} */
.div_flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 100%;
    /* height: auto; */
    gap: 10px;
    padding: 10px;
    /* background-color: #444; */
    border-radius: 10px;
}
.input_box{
    width: 100%;
    /* height: 100px; */
}
textarea.text_trans {
    width: 100%;
    height: 100px;
}

textarea::placeholder {
    color: gray;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}
textarea:focus {
    outline: none;
    border: none;
}
#sourceLang, #targetLang {
    width: 100%;
    margin-top: 4px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

.switch {
    font-size: 30px;
    color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

/* history list  */

.history-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_border {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}